UPDATE Foods SET ImagePath = 'https://images.unsplash.com/photo-1708782343717-be4ea260249a?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0' WHERE Name = 'Aloo Paratha + Curd';
UPDATE Foods SET Name = 'Fresh Greens Salad Bowl', ImagePath = 'https://images.unsplash.com/photo-1546793665-c74683f339c1?q=80&w=1887&auto=format&fit=crop' WHERE Name = 'Salad Bowl Option 2';
UPDATE Foods SET Name = 'Mediterranean Salad Bowl', ImagePath = 'https://images.unsplash.com/photo-1505576633757-0ac1084af824?q=80&w=735&auto=format&fit=crop' WHERE Name = 'Salad Bowl Option 3';
UPDATE Foods SET Name = 'Protein Packed Salad Bowl', ImagePath = 'https://images.unsplash.com/photo-1572449043416-55f4685c9bb7?q=80&w=880&auto=format&fit=crop' WHERE Name = 'Salad Bowl Option 1';
UPDATE Foods SET Name = 'Classic Standard Thali' WHERE Name = 'Standard Thali Option 1';
